.cover {
  max-width: 1184px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 92px;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .cover {
    width: 100%;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    padding-bottom: 88px;
  }
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .cover {
    width: 100%;
    padding-bottom: 64px;
  }
}
