.places__website-headline {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin: 0;
    padding-bottom: 12px;
}

@media all and (min-width:320px) and (max-width:767px) {
    .places__website-headline {
        padding-left: 16px;
        padding-right: 16px;

    }
}